.header{
    margin-top: 0px  ;
    text-align: center;
    color:brown;
    padding-top: 25px
}
.top{
    width:100%;
    height:100px;
    background-color:blanchedalmond
}
.insta-actions button:active{
    background-color:red;
}